inputs/model_data/*
inputs/*.h5
inputs/orkney_mesh.msh
inputs/PFmesh-modified.msh
inputs/PF_AR2000_40m.json
inputs/ThetisCalibratedAR2000.json
inputs/turbine_optimised_coords_greedy.npy
inputs/gauge_locs.csv
inputs/__pycache__
tools/__pycache__
__pycache__/
tidal_array/outputs/
pentland_firth/outputs/
.idea
test.py
case_dict.txt
*BAK*
*bak*
*.log
*.err
outputs/
output*
out_DT/
ramp_export
run_export
case_*
transect_*
plotting/*.hdf5
